* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables*/ 
:root {
  --primary: #4CAF50;
  --primary-dark: #2e7d32;
  --accent: #a5d6a7;

  --bg: #f4f6f4;
  --card: #ffffff;

  --text: #1b1b1b;
  --text-light: #555;

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/*body*/
body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  background: var(--primary);
  color: white;

  box-shadow: var(--shadow);

  &-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }

  &-link {
    color: white;
    text-decoration: none;
    font-weight: 500;

    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
